In [1]:
import pandas as pd

In [5]:
df = pd.read_excel("Data Cleaning with Coach Anietie.xlsx")

In [335]:
df

     S/No  Gender    Age Range Marital Status State of Origin
0       1  Female  35-40 years        Married       akwa ibom
1       2    Male  35-40 years        Married           river
2       3  Female  25-30 years         Single       akwa ibom
3       4    Male  25-30 years         Single       akwa ibom
4       5    Male  30-35 years         Single       akwa ibom
..    ...     ...          ...            ...             ...
406   407  Female  35-40 years        Married           benue
407   408    Male  30-35 years         Single           benue
408   409    Male  20-25 years         Single           benue
409   410  Female  25-30 years         Single          kaduna
410   411  Female  25-30 years         Single          kaduna

[411 rows x 5 columns]

In [399]:
df['State of Origin'].unique()

array(['akwa ibom', 'rivers', 'anambra', 'ekiti', 'kogi', 'oyo', 'delta',
       'kwara', 'lagos', 'imo', 'enugu', 'benue', 'cross rivers', 'osun',
       'plateau', 'kaduna', 'ogun', 'ebonyi', 'fct abuja', 'kano',
       'adamawa', 'nasarawa', 'bayelsa', 'niger', 'ebony', 'zamfara'],
      dtype=object)

In [397]:
df['State of Origin'] = df['State of Origin'].str.replace('zamfararararaa','z').str.replace('zamfarar','zamfara').str.replace('river','rivers')

In [375]:
df['State of Origin'] = df['State of Origin'].str.strip().str.lower().str.replace('oghenevwedefay@gmail.com','lagos').str.replace('united kingdom','lagos').str.replace('cross rover','cross river').str.strip('state').str.replace('bayel','bayelsa').str.replace('nasaraw','nasarawa').str.replace('kwa-ibom','akwa-ibom').str.replace('kiti','ekiti').str.replace('bony','ebony').str.replace( 'bia state.','abia').str.replace('nugu','enugu').str.replace('ogun','ogun').str.replace('lago','lagos').str.replace('kwar','kwara').str.replace('do','ondo').str.replace('ononononondo','akwa ibom').str.replace('kogi -','kogi').str.replace('damaw','adamawa').str.replace("'ogun", 'ogun').str.replace('nigeri','osun').str.replace('fct abuj','fct abuja').str.replace('ononakwa ibom','akwa ibom').str.replace('onakwa ibom','akwa ibom').str.replace('kwa ibpm','akwa ibom').str.replace('kwa ibom','akwa ibom').str.replace('akwa-ibom','akwa ibom').str.replace('benu','benue').str.replace('bi','benue').str.replace('rab','lagos').str.replace('kebbenue','benue').str.replace('kadun','kaduna').str.replace('del','delta').str.replace('ogun, ogun','ogun').str.replace('nan','fct abuja').str.replace('nambr','anambra').str.replace('zamfa','zamfara').str.replace('zamfaraar','zamfara')

In [317]:
df.isnull().sum()

S/No               0
Gender             0
Age Range?         0
Marital Status     0
State of Origin    0
dtype: int64

In [305]:
mode = df['State of Origin'].mode()[0]

In [307]:
df['State of Origin'] = df['State of Origin'].fillna(mode)

In [313]:
mode2 = df['Marital Status'].mode()[0]

In [315]:
df['Marital Status'] = df['Marital Status'].fillna(mode)

In [333]:
 df.rename(columns={'Age Range?':'Age Range'}, inplace = True)